*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: whitesmoke;
}

nav{
    list-style: none;
    align-items: center;
    background: black;
    min-height: 60px;
    display: flex;
    justify-content: space-around;
}

.logo{
    color: white;
    font-family: 'Rowdies', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    width: 30%;
    margin: 30px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
}
   
/*
.nav-links{
    display: flex;
    list-style: none;
    width: 30%;
    padding: 0;
    justify-content: flex-end;
}*/

.nav-links a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 3px;
}

.nav-links a:hover{
    background-color: black;
    color: gray;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    margin: 5px 5px 5px 10px;
    background-color: white;
}

@media screen and (min-width:698px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 70%;
    }
    .logo{
        width: 30%;
    }
}

@media screen and (max-width:698px){

    body{
        overflow-x:hidden ;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        /*transform: translateX(100%);
        transition:transform .1 ease-in ;*/
        clip-path: circle(10px at 90% -10%);
        -webkit-clip-path: circle(10px at 90% -10%);
        transition: all 1s ease-out;
    }

    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }

    .logo{
        width: 80%;
    }

    .Landing{
        flex-direction: column;
    }

    .burger{
        display: block;
    }
}


@keyframes navFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotateZ(-45deg) translate(-6px,6px) translateY(2px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotateZ(45deg) translate(-6px,-6px) translateY(-2px);
}
